.buttonMain {
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s ease-out;
	font-size: 30px;
	background-color: #f2f2d6;
	margin-right: 20px;
	margin-bottom: 20px;
}
.buttonMain:active {
	background-color: black;
	color: white;
}

.disabled_btn,
.disabled_btn:active {
	border: 2px solid grey;
	color: grey;
	background-color: white;
}
